:2015 {
    bind 0.0.0.0
    gzip
    root .
    
    git {
        repo https://github.com/cape-music-academy/www_capemusicacademy.com
        branch master
        hook /webhook "zU3687$aJEb6"
        key ~/.ssh/id_rsa
        path . 
    }
}
